<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="GameContext"
		connectionString="data source=(localdb)\mssqllocaldb;AttachDBFilename=C:\Users\Maxim\source\repos\ISTheoryLabs\ISLab2\ISLab2\DB\ISLabDatabase.mdf;Integrated security=true" 
		providerName="system.Data.SQLClient" />
	</connectionStrings>
</configuration>